<div class="ui segment">
<div class="ui divided items">
<% @stories.each do |s| %>
	<div class="item">
		<a class="ui tiny rounded image"><img src="/<%= s.user.avatar %>"></a>
		<div class="content">
			<a class="header" href="<%= profile_path(s.user.username) %>"><%= s.user.fullname %></a> @<%= s.user.username %> . <span id="timer" timeStamp="<%= s.created_at.to_f * 1000 %>"></span>
			<div class="description">
				<p><%= s.content %></p>
			</div>
			<div class="ui mini statistics">
				<%=	link_to raw("<div class='value'><i class='inverted purple reply icon'></i> #{s.reply_count}</div>"), story_path(s), class: "statistic", :method => :post %>
				<%=	link_to raw("<div class='value'><i class='inverted purple retweet icon'></i> #{s.repost_count}</div>"), repost_story_path(s), class: "statistic", :method => :post %>
				<%=	link_to raw("<div class='value'><i class='inverted purple favorite icon'></i> #{s.favorite_count}</div>"), favorite_story_path(s), class: "statistic", :method => :post %>
			</div>
		</div>
	</div>
<% end %>
</div>
</div>