<%= form_for :story, url: stories_path do |f| %>
<div class="ui small form">
  <div class="field">
    <%= f.text_area :content, placeholder: "Say Something !", style: "min-height:60px; max-height:80px;"%>
  </div>

<% if false %>
  <div class="three fields">
    <div class="field">
      <%= f.label :location %><br />
      <%= f.text_field :location %>
    </div>

    <div class="field">
      <%= f.label :attachement %><br />
      <%= f.file_field :attachement %>
    </div>

    <div class="ui field labeled icon submit button">
      <i class="edit icon"></i>Share
    </div>
  </div>
<% end %>
    <%= f.submit "Share", class: "ui purple submit button" %>
</div>
<% end %>