<%= form_for :story, url: stories_path do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label :attachement %><br />
    <%= f.file_field :attachement %>
  </div>

  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>