<p><b><%= @story.user.fullname %></b> <%= @story.content %> <br/>
<%=	link_to "Favorite : #{@story.favorite_count}", favorite_story_path(@story), :method => :post %>
<%=	link_to "Reply : #{@story.reply_count}", story_path(@story), :method => :post %>
<%=	link_to "Repost : #{@story.repost_count}", repost_story_path(@story), :method => :post %>
<%= "#{@story.location}, #{@story.created_at}" %>