<div class="ui fixed inverted purple menu">
	<div class="ui page grid">
		<div class="column">
			<%= link_to raw("<i class='home icon'></i> Home"), root_path, 
			class: "#{(current_page?(controller: 'purple/dashboard', action: 'home') ? 'active' : '')} item" %>
			<%= link_to raw("<i class='alarm icon'></i> Interactions"), interactions_path, 
			class: "#{(current_page?(controller: 'purple/dashboard', action: 'interactions') ? 'active' : '')} item" %>
			<%= link_to raw("<i class='world icon'></i> Discover"), root_path, 
			class: "#{(current_page?(controller: 'purple/dashboard', action: 'discover') ? 'active' : '')} item" %>
			<%= link_to raw("<i class='mail icon'></i> Messages"), root_path, 
			class: "#{(current_page?(controller: 'purple/dashboard', action: 'messages') ? 'active' : '')} item" %>
		  	<div class="right menu">
		    	<div class="item">
			    	<div class="ui icon input">

						<%= form_tag(search_path, method: "get") do %>
						<input type="text" name="keyword" id="keyword" placeholder="Search...">
						<% end %>
			        	<i class="search link icon"></i>
			    	</div>
			    </div>
			    <div class="ui icon pointing dropdown item">
			      	<img class="ui rounded image" height="19" width="19" src="/<%= current_user.avatar %>">
			      	<div class="menu">
			      		<strong><%= link_to "#{current_user.fullname}", profile_path(current_user.username), class: :item %></strong>
			      		<%= link_to 'Setting', edit_user_registration_path(current_user), class: :item %>
			      		<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: :item %>
			      	</div>
			    </div>
			    <div class="item">
			        <div class="ui labeled icon button">
			        	<i class="write icon"></i>Share</span>
			        </div>
			    </div>
		  	</div>
		</div>
	</div>
</div>
