<div class="ui segment">
	<h4 class="ui header">Trending</h4>
	<div class="ui link list">
	<% @trends.each do |t| %>
		<%=	link_to t.value, search_path(t.value), class: :item %>
	<% end %>
	</div>
</div>