<div class="four wide column">
  <%= render 'purple/profiles/profile_card_statistics' %>
  <%= render 'purple/dashboard/trending_widget' %>
  <%= render 'purple/dashboard/about_widget' %>
</div>
<div class="twelve wide column">
  <div class="ui segment">
    <%= render 'purple/stories/stories_form' %>
  </div>
  <%= render 'purple/stories/stories_listing' %>
</div>