<div class="four wide column">
	<%= render 'purple/dashboard/trending_widget' %>
	<%= render 'purple/dashboard/about_widget' %>
</div>
<div class="twelve wide column">
	<div class="ui center aligned segment">
		<h3 class="ui header">Interactions</h3>
		<a href="#">All</a> / <a href="#">Following Only</a>
	</div>
	<%= render 'purple/stories/stories_listing' %>
</div>
