<div class="four wide column">
	<%= render 'purple/dashboard/trending_widget' %>
	<%= render 'purple/dashboard/about_widget' %>
</div>
<div class="twelve wide column">
	<div class="ui center aligned segment">
		<h3 class="ui header">Result for <%= params[:keyword] %></h3>
		<a href="#">Popular</a> / <a href="#">All</a>
	</div>
	<%= render 'purple/stories/stories_listing' %>
</div>