<div class="ui special five cards">
<% @users.each do |u| %>
	<div class="card">
		<div class="dimmable image">
	    	<div class="ui inverted dimmer">
	        	<div class="content">
	          		<div class="center">
	            		<div class="ui purple button">Follow</div>
	          		</div>
	        	</div>
	      	</div>
	      	<img src="/<%= u.avatar %>">
		</div>
		<div class="content">
	  		<div class="header"><%= u.fullname %></div>
	  		<div class="meta">
	    		<%= link_to "@#{u.username}", profile_path(u.username) %>
	  		</div>
		</div>
	</div>
<% end %>
</div>