<div class="ui card">
	<div class="image">
  		<img src="/<%= @user.avatar %>">
	</div>
	<div class="content">
  		<div class="header"><%= @user.fullname %></div>
  		<div class="meta">
	  		<%= link_to "@#{@user.username}", profile_path(@user.username) %>
  		</div>
	</div>
	<div class="extra content">
    	<div class="ui mini statistics">
			<a class="statistic" href="<%= profile_path(@user.username) %>">
				<div class="label" style="font-size:12px">Posts</div>
			    <div class="value">22</div>
			</a>
			<a class="statistic" href="<%= following_profile_path(@user.username) %>">
				<div class="label" style="font-size:12px">Following</h1></div>
				<div class="value"><%= @user.following_count %></div>
			</a>
			<a class="statistic" href="<%= followers_profile_path(@user.username) %>">
				<div class="label" style="font-size:12px">Followers</div>
				<div class="value"><%= @user.followers_count %></div>
			</a>
		</div>
	</div>
</div>