<% @users.each do |u| %>
	<%= u.username %> | <%= u.description %> | <%= u.location %> | followers : <%= u.followers_count %> | follwing : <%= u.following_count %> | <%= link_to 'view', profile_path(u.username) %><br />
<% end %>