<%
	valid_uri = @user.website
	if (valid_uri and valid_uri[0..6] != "http://" and valid_uri[0..7] != "https://")
		valid_uri = "http://" + valid_uri
	end
%>
<div class="ui card">
	<div class="image">
  		<img src="/<%= @user.avatar %>">
	</div>
	<div class="content">
  		<div class="header"><%= @user.fullname %></div>
  		<div class="meta">
	  		<%= link_to "@#{@user.username}", profile_path(@user.username) %>
  		</div>
  		<div class="description">
  			<p><%= @user.description %></p>
  		</div>
	</div>
	<div class="extra content">
		<%= raw("<i class='marker icon'></i> #{@user.location} <br>") if @user.location %>
		<%= raw("<i class='external link square icon'></i> <a href='#{valid_uri}' target='_blank'>#{@user.website}</a><br>") if @user.website %>
		<i class="wait icon"></i> Joined since <%= @user.created_at.strftime("%B %Y") %>
	</div>
	</div>