<div class="ui purple pointing menu">
  <img class="ui rounded image" src="/<%= @user.cover %>" width="900" height="225">
  <a class="<%= "active" if current_page?(controller: 'purple/profiles', action: 'show') %> item" href="<%= profile_path(@user.username) %>">
    <i class="comment icon"></i> Posts
    <div class="ui small teal label">133</div>
  </a>
  <a class="<%= "active" if current_page?(controller: 'purple/profiles', action: 'following') %> item" href="<%= following_profile_path(@user.username) %>">
    <i class="user icon" ></i> Following
    <div class="ui small teal label"><%= @user.following_count %></div>
  </a>
  <a class="<%= "active" if current_page?(controller: 'purple/profiles', action: 'followers') %> item" href="<%= followers_profile_path(@user.username) %>">
    <i class="user icon"></i> Followers
    <div class="ui small teal label"><%= @user.followers_count %></div>
  </a>
  <a class="<%= "active" if current_page?(controller: 'purple/profiles', action: 'favorites') %> item" href="<%= favorites_profile_path(@user.username) %>">
    <i class="star icon"></i> Favorites
    <div class="ui small teal label">133</div>
  </a>
  <div class="right menu">
    <% if user_signed_in? %>
      <% if current_user.username != @user.username %>
        <%=	link_to raw("<div class='ui labeled button'>#{(@relation ? 'Unfollow' : 'Follow')}</div>'"), follow_profile_path(@user.username), class: "item", :method => :post %>
      <% else %>
        <%= link_to raw("<div class='ui labeled button'>Edit</div>'"), edit_profile_path(@user.username), class: "item" %>
      <% end %>
    <% end %>
  </div>
</div>