<h1>Update profile</h1>

<%= form_for :user, url: :profile, method: :patch do |f| %>
	<div class="field">
	    <%= f.label :fullname %><br />
	    <%= f.text_field :fullname, autofocus: true %>
	</div>

	<div class="field">
	    <%= f.label :description %><br />
	    <%= f.text_area :description %>
	</div>

	<div class="field">
	    <%= f.label :location %><br />
	    <%= f.text_field :location %>
	</div>

	<div class="field">
	    <%= f.label :website %><br />
	    <%= f.text_field :website %>
	</div>

	<div class="field">
	    <%= f.label :avatar %><br />
	    <%= f.file_field :avatar %>
	</div>

	<div class="field">
	    <%= f.label :cover %><br />
	    <%= f.file_field :cover %>
	</div>

	<div class="field">
	    <%= f.label :theme %><br />
	    <%= f.text_field :theme %>
	</div>

	<div class="actions">
		<%= f.submit "Update" %>
	</div>
<% end %>