<% if @user == nil %>
	<p>
		User not found
	</p>
<% else %>
	<div class="four wide column">
	  	<%= render 'purple/profiles/profile_card_about' %>
  		<%= render 'purple/dashboard/about_widget' %>
	</div>
	<div class="twelve wide column">
		<%= render 'purple/profiles/profile_header' %>
		<%= render 'purple/stories/stories_listing' %>
	</div>	
<% end %>