<% @relation.each do |r| %>
	$('more').replaceWith('<%= r.username %> | <%= r.description %> | <%= r.location %> | followers : <%= r.followers_count %> | follwing : <%= r.following_count %> | <%= link_to 'view', profile_path(r.username) %><br />');
<% end %>
