<!DOCTYPE html>
<html>
<head>
  <title>Purple</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
		<div class="ui inverted purple menu"></div>
		<%= render '/purple/dashboard/menu_bar' %>
	<% else %>
		<p>
			<%= link_to 'Login', new_user_session_path %>
		</p>
	<% end %>
	<div class="ui page grid">
		<%= yield %>
	</div>

	<div class="ui modal">
		<%= render 'purple/stories/stories_form' %>
	</div>
</body>
<script type="text/javascript">

$('.ui.modal')
  .modal()
;

$('.ui.dropdown')
  .dropdown()
;

$('.special.cards .image').dimmer({
  on: 'hover'
});

</script>
</html>
